@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.product-card:hover {
  background-size: 110%;
}

.product-card {
  background-size: 100%, 100%;
  background-position: center top;
  background-repeat: no-repeat;
  transition: all 0.3s ease 0s;
}

.MuiPaginationItem-outlined {
  color: #ffffff;
  border-color: #ffffff;
}

.MuiPagination-ul {
  justify-content: center;
}

.MuiAutocomplete-inputRoot[class*='MuiOutlinedInput-root']
  .MuiOutlinedInput-notchedOutline {
  border-color: #5b21b6;
}
.MuiOutlinedInput-input {
  color: #ffffff;
  font-weight: 700;
}
.MuiInputLabel-root {
  color: #ffffff;
  font-weight: 600;
}
.MuiSvgIcon-root {
  fill: #5b21b6;
}
.MuiInputLabel-root.Mui-focused {
  color: #ffffff;
}
